// Color Definitions
@brandColor:		#f7951d;
@brandColorLight:	lighten(@brandColor, 20%);
@brandColorDark:	darken(@brandColor, 20%);
@textColor:			#fff;
@bgColorMain:		#292929;
@vernissage:		#009fe3;

// Social Media Colors
@facebookColor: 	#3b5998;
@twitterColor: 		#00aced;
@linkedinColor: 	#007bb6;
@xingColor: 		#126567;

@linkColor:			@brandColor;
@linkActive:		#222;
@headlineColor:		#222;
@linkNav:			@gray-light;

// BARCAMP LOGO COLORS
@red:				#dd3f4b;
@gray-dark:			#302e39;
@gray-light:		#747476;

// FONT
.sans-serif {
	font-family: 'Roboto', Arial, sans-serif;
}
.serif {
	font-family: 'Roboto Slab', Georgia, serif;
}
